services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: clutch-gg:latest
    restart: unless-stopped
    environment:
      NODE_ENV: production
      HOSTNAME: 0.0.0.0
      PORT: ${PORT:-3000}
      MONGODB_URI: ${MONGODB_URI:-}
      RIOT_API_KEY: ${RIOT_API_KEY:-}
      TFT_API_KEY: ${TFT_API_KEY:-}
      NEXT_PUBLIC_SUPABASE_URL: ${NEXT_PUBLIC_SUPABASE_URL:-}
      NEXT_PUBLIC_SUPABASE_KEY: ${NEXT_PUBLIC_SUPABASE_KEY:-}
      SUPABASE_SERVICE_KEY: ${SUPABASE_SERVICE_KEY:-}
      RIOT_CLIENT_ID: ${RIOT_CLIENT_ID:-}
      RIOT_CLIENT_SECRET: ${RIOT_CLIENT_SECRET:-}
      RIOT_REDIRECT_URI: ${RIOT_REDIRECT_URI:-}
      POST_LOGOUT_REDIRECT_URI: ${POST_LOGOUT_REDIRECT_URI:-}
      NEXT_PUBLIC_UPDATE_API_KEY: ${NEXT_PUBLIC_UPDATE_API_KEY:-}
      INTERNAL_API_KEY: ${INTERNAL_API_KEY:-}
      NEXT_PUBLIC_SITE_URL: ${NEXT_PUBLIC_SITE_URL:-}
      SITE_URL: ${SITE_URL:-}
      NEXT_PUBLIC_STRIPE_SUPPORT_URL_5: ${NEXT_PUBLIC_STRIPE_SUPPORT_URL_5:-}
      NEXT_PUBLIC_STRIPE_SUPPORT_URL_15: ${NEXT_PUBLIC_STRIPE_SUPPORT_URL_15:-}
      NEXT_PUBLIC_STRIPE_SUPPORT_URL_25: ${NEXT_PUBLIC_STRIPE_SUPPORT_URL_25:-}
      VERCEL_URL: ${VERCEL_URL:-}
    expose:
      - "3000"
