services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_BASE_URL: ${APP_BASE_URL:-}
        DEBUG_FETCH_COUNTER: ${DEBUG_FETCH_COUNTER:-}
        MATCHES_PER_PAGE: ${MATCHES_PER_PAGE:-}
        MAX_MATCHES_TO_FETCH: ${MAX_MATCHES_TO_FETCH:-}
        NEXT_PUBLIC_DEBUG_FETCH_COUNTER: ${NEXT_PUBLIC_DEBUG_FETCH_COUNTER:-}
        NEXT_PUBLIC_SUPABASE_KEY: ${NEXT_PUBLIC_SUPABASE_KEY:-}
        NEXT_PUBLIC_SUPABASE_URL: ${NEXT_PUBLIC_SUPABASE_URL:-}
        NEXT_PUBLIC_UPDATE_API_KEY: ${NEXT_PUBLIC_UPDATE_API_KEY:-}
        POST_LOGOUT_REDIRECT_URI: ${POST_LOGOUT_REDIRECT_URI:-}
        RIOT_API_KEY: ${RIOT_API_KEY:-}
        RIOT_API_RATE_LIMIT: ${RIOT_API_RATE_LIMIT:-}
        RIOT_CLIENT_ID: ${RIOT_CLIENT_ID:-}
        RIOT_CLIENT_SECRET: ${RIOT_CLIENT_SECRET:-}
        RIOT_REDIRECT_URI: ${RIOT_REDIRECT_URI:-}
        SUPABASE_SERVICE_KEY: ${SUPABASE_SERVICE_KEY:-}
        TFT_API_KEY: ${TFT_API_KEY:-}
        UPDATE_PROFILES_SECRET: ${UPDATE_PROFILES_SECRET:-}
    env_file:
      - path: .env
        required: false
    environment:
      NODE_ENV: production
      HOSTNAME: 0.0.0.0
      PORT: ${PORT:-3000}
    expose:
      - "3000"
    restart: unless-stopped
